footer {
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 80px;
    ul {
      display: flex;
      list-style-type: none;
      gap: 2rem;
      margin-bottom: 2rem;
      li {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    & p {
      max-width: 420px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      color: #a9a9a9;
    }
    .contact p:first-child {
      margin: 2rem 0;
    }
    .social img {
      margin: 0 0.5rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(110%);
      }
    }
  }
}
@media (max-width: 768px) {
  footer {
    .wrapper {
      flex-direction: column;
      text-align: center;
    }
    .contact {
      order: 2;
      ul {
        justify-content: center;
        margin: 1rem 0 2rem;
      }
      p {
        margin: 0 auto;
      }
    }
    .social {
      order: 1;
    }
  }
}
